<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>profile</ion-title>
    <ion-button color="dark" slot="end"  id="trigger-button2" style="--box-shadow:none;--ripple-color: transparent;"><ion-icon name="ellipsis-vertical-outline"></ion-icon></ion-button>
      <ion-popover trigger="trigger-button2">
        <ng-template>
          <ion-content>
            <ion-list>
              <a *ngIf="user.phone"  href="tel:{{user.phone}}" style="color: black; text-decoration: none;"><ion-item >Call</ion-item></a>
              <ion-item>Block</ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-fab vertical="top" horizontal="end" slot="fixed">

    <ion-fab-button color="danger" (click)="openModal()">image</ion-fab-button>
  </ion-fab> -->
  <!-- <ion-button >Click to open modal</ion-button> -->



   <ion-card *ngIf="user">

      <!-- <ion-avatar style="margin: auto;" (click)="openModal()"> -->
        <!-- <img src="../../assets/76729750.jpg" /> -->
        <img src={{user.imageUrl}} onerror="this.src='../../assets/76729750.jpg';this.onerror='';">
      <!-- </ion-avatar> -->
      <ion-card-header>
        <div class="ion-text-center">
          <h1>{{user.username}}</h1>
        </div>
        <div class="ion-text-center">
           <h1> <ion-icon name="mail-open-outline"></ion-icon>{{user.email}} </h1>
        </div>
        <div class="ion-text-center" *ngIf="user.phone">
          <h1><ion-icon name="call-outline"></ion-icon>{{user.phone}} </h1>
        </div>
        <div class="ion-text-center" *ngIf="user.address">
          <h1> <ion-icon name="location-outline"></ion-icon>{{user.address}}</h1>
        </div>

      </ion-card-header>

    </ion-card>
</ion-content>
