<ion-content>

  <ion-breadcrumbs>
  <ion-breadcrumb routerLink="../">
    Home
  </ion-breadcrumb>
  <ion-breadcrumb>
    Career
  </ion-breadcrumb>
</ion-breadcrumbs>


<ion-card>
  <ion-card-header>
    <h1>Let Start Something big together!</h1>
  </ion-card-header>
  <ion-card-content>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur sequi repudiandae at molestiae minima corporis beatae soluta nulla consequatur ipsa veritatis, ea eum harum corrupti dicta et accusantium debitis quod?</p>
  </ion-card-content>
</ion-card>


<ion-card>
  <ion-card-header>
    <h1>Node.js</h1>
    <p>experiance - 2/5 years</p>
    <h4>Software Engineer  - Pune </h4>
  </ion-card-header>
  <ion-card-content>

    <a href="#">Apply Now</a>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <h1>Node.js</h1>
    <p>experiance - 2/5 years</p>
    <h4>Software Engineer  - Pune </h4>
  </ion-card-header>
  <ion-card-content>

    <a href="#">Apply Now</a>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <h1>Node.js</h1>
    <p>experiance - 2/5 years</p>
    <h4>Software Engineer  - Pune </h4>
  </ion-card-header>
  <ion-card-content>

    <a href="#">Apply Now</a>
  </ion-card-content>
</ion-card>



<ion-toolbar color="dark">
  <div class="ion-text-center">
    <p>All copyright reserved</p>
  </div>
</ion-toolbar>

</ion-content>
