
<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <div class="margin55">

    <form [formGroup]="formValue" (ngSubmit)="onSubmit()">

      <ion-item color="newcolor">

        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>
      <div *ngIf="formValue.get('email').invalid && (formValue.get('email').dirty ||formValue.get('email').touched )">
      <small *ngIf="(formValue.get('email')).errors?.required" style="color: red; padding-left: 13px;">Email is required</small>
    </div>

    <ion-item color="newcolor">
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <div *ngIf="formValue.get('password').invalid && (formValue.get('password').dirty ||formValue.get('password').touched )">
      <small *ngIf="(formValue.get('password')).errors?.required" style="color: red; padding-left: 13px;">Password is required</small>
    </div>



    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" style="margin-top: 33px;" [disabled]="!formValue.valid" >Sign In</ion-button>
        <!-- <a [routerLink]="['/forgot-password']" class="small-text">Forgot Password?</a> -->
      </ion-col>
    </ion-row>
  </form>

</div>
  <br><br><br>
  <span class="divider line one-line">or</span>

  <div class="ion-text-center " style="padding: 44px;">

    <span class="already">Sign in With Google</span>
    <br>

    <ion-button (click)="Oauth()" color="danger"><ion-icon name="logo-google"></ion-icon></ion-button>
  </div>
</ion-card>
</ion-content>
