<ion-content>



  <ion-card>   <!--Take data from Json -->
    <ion-card-header>
     <h1> Popular Car in India</h1>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur dignissimos provident sapiente rem, dolorem quos explicabo numquam eos error blanditiis commodi voluptates ipsum animi fugit quaerat inventore mollitia saepe assumenda minima ad maiores totam consequatur accusantium eum? Sed officiis adipisci quaerat culpa nisi pariatur!
    </ion-card-content>
  </ion-card>


   <ion-card>
     <img src="https://cdni.autocarindia.com/utils/imageresizer.ashx?n=http://cms.haymarketindia.net/model/uploads/modelimages/Maruti-Suzuki-Swift-100320211204.jpg&w=872&h=578&q=75&c=1" />
     <ion-card-header>
       <ion-card-subtitle>Destination</ion-card-subtitle>
       <ion-card-title>Madison, WI</ion-card-title>
     </ion-card-header>
     <ion-card-content>
       Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
       Wisconsin Territory in 1836.
     </ion-card-content>
   </ion-card>

   <ion-card>
     <img src="https://cdni.autocarindia.com/utils/imageresizer.ashx?n=http://cms.haymarketindia.net/model/uploads/modelimages/Maruti-Suzuki-Swift-100320211204.jpg&w=872&h=578&q=75&c=1" />
     <ion-card-header>
       <ion-card-subtitle>Destination</ion-card-subtitle>
       <ion-card-title>Madison, WI</ion-card-title>
     </ion-card-header>
     <ion-card-content>
       Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
       Wisconsin Territory in 1836.
     </ion-card-content>
   </ion-card>

   <ion-card>
     <img src="https://cdni.autocarindia.com/utils/imageresizer.ashx?n=http://cms.haymarketindia.net/model/uploads/modelimages/Maruti-Suzuki-Swift-100320211204.jpg&w=872&h=578&q=75&c=1" />
     <ion-card-header>
       <ion-card-subtitle>Destination</ion-card-subtitle>
       <ion-card-title>Madison, WI</ion-card-title>
     </ion-card-header>
     <ion-card-content>
       Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
       Wisconsin Territory in 1836.
     </ion-card-content>
   </ion-card>


 </ion-content>

