ion-slides {
  height: 30%;
  padding: 0;
  margin: 0;
}

ion-slide{
  padding: 0;
}

img{
  padding: 0%;
  margin: 0%;
  width: 100vh ;

}

ion-card{
  img{
    height: 180px;
  }
}

.all-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly
}

.brand img{
  width: 87px;
  height: 50px;
}


// ion-content{

//   --background: url('https://previews.123rf.com/images/9comeback/9comeback1307/9comeback130700004/20723947-red-yellow-bokeh-abstract-light-background.jpg') no-repeat center center / cover;
// }
