<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

   <ion-card *ngIf="user">

      <ion-avatar style="margin: auto;">
        <img src="../../assets/76729750.jpg" />
      </ion-avatar>
      <ion-card-header>
        <div class="ion-text-center">
          <h1>{{user.username}}</h1>
        </div>
        <div class="ion-text-center">
           <h1> <ion-icon name="mail-open-outline"></ion-icon>{{user.email}} </h1>
        </div>
        <div class="ion-text-center">
          <h1><ion-icon name="call-outline"></ion-icon>{{user.phone}} </h1>
        </div>
        <div class="ion-text-center">
          <h1> <ion-icon name="location-outline"></ion-icon>{{user.address}}</h1>
        </div>

      </ion-card-header>

      <ion-card-content>
        <ion-button expand="block" (click)="logout()" >Logout</ion-button>
      </ion-card-content>

    </ion-card>
</ion-content>
