
<ion-content>

  <div class="ion-text-center">
    <h1>Search By Price</h1>
  </div>
  <ion-list>


    <ion-item>
      <ion-range  min="1" max="100" step="3"  [pinFormatter]="customFormatter" [pin]="true" [(ngModel)]="pricevalue" ></ion-range>
    </ion-item>
  </ion-list>



  <ng-container  *ngFor="let i of latestData ">
    <ion-card (click)="clickme(i._id)"  *ngIf="confirm(i)">
      <img src={{i.img1}} />
      <ion-card-header>
        <ion-card-subtitle>{{i.model}}</ion-card-subtitle>
        <ion-card-title>{{i.name}}</ion-card-title>
        <h4>{{i.price |  currency:'INR'}}</h4>
        <p>Ex-Showroom in {{i.location}}</p>
      </ion-card-header>
    </ion-card>
 </ng-container>




 </ion-content>
