ion-content{
  // --ion-background-color:#e7e9e7;
  --background: url("https://cdn.statusqueen.com/mobilewallpaper/thumbnail/widebody_huracan_-202.jpg") no-repeat center center / cover;
  // --background: url('https://1.bp.blogspot.com/-GaVlbdJ2WAg/X_hmhaA8IcI/AAAAAAAACL4/vcojleyuhP8Oln8p767IzJftaWteqKEyQCLcBGAsYHQ/s1290/Screenshot_2021-01-08-19-31-30-417.jpeg') no-repeat center center / cover;
}

div{
  opacity: 9;


}

.divider {
  display: flex;

  &:before,
  &:after {
    content: "";
    flex: 1;
  }
}

.line {
  align-items: center;
  margin: 1em -1em;
  color: #000000;

  &:before,
  &:after {
    height: 1px;
    margin: 0 1em;
  }
}

.one-line {
  &:before,
  &:after {
     background: #000000;
  }
}

ion-button{
  height: 48px;
}

.auth-form ion-grid,
.auth-form ion-row {
  padding-top: 90px;

  height: 60%;
  justify-content: center;
}

.already {
  display: block;
  text-align: center;
  padding-bottom: 10px;
}
