
ion-content{
  // --ion-background-color:#e7e9e7;

  --background: url('https://previews.123rf.com/images/saicle/saicle1509/saicle150900010/44651347-minimal-blue-tech-abstract-background-vector-design.jpg') no-repeat center center / cover;
}



.divider {
  display: flex;

  &:before,
  &:after {
    content: "";
    flex: 1;
  }
}

.line {
  align-items: center;
  margin: 1em -1em;
  color: #000000;

  &:before,
  &:after {
    height: 1px;
    margin: 0 1em;
  }
}

.one-line {
  &:before,
  &:after {
     background: #a09d9d;
  }
}
