
ion-content{
  // --ion-background-color:#e7e9e7;

  --background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-IBYGax7wK-Ejts-swZTFR6UEy31FATe7-Q&usqp=CAU') no-repeat center center / cover;
}

ion-card{
  background: transparent;
  box-shadow: none;
}

.divider {
  display: flex;

  &:before,
  &:after {
    content: "";
    flex: 1;
  }
}

.line {
  align-items: center;
  margin: 1em -1em;
  color: #000000;

  &:before,
  &:after {
    height: 1px;
    margin: 0 1em;
  }
}

.one-line {
  &:before,
  &:after {
     background: #a09d9d;
  }
}


.margin55{
  margin: 35px;

  .bottom{
    margin-bottom: 34px;
  }

}
